.cart {
  width: 90%;
  border: 1px solid gold;
  margin: 0 auto;
}
.cart table {
  width: 100%;
}
.cart-item-info {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
.cart-image {
  height: 50px;
  max-width: 50px;
}